html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ffffdd, rgb(186, 205, 213));

}

/* ------Header------ */

.inicio{
    text-decoration: none;
}

#titulo--header{
    font-size: 3rem;
    margin-top: auto;   
}

.header{
    background: radial-gradient(circle, #dedea9, rgb(255, 255, 255));
    
    height: 7.5rem;
    text-align: center;
}


/* ------Main------ */

.titulo-main {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.clima {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.5rem;

}
.container-indicaciones{
    text-align: center;
    margin: 2rem;
}

#boton-container{
    display: flex;
    justify-content: flex-end;
}

.boton-volver{
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.2rem;
}

#container-card{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    margin: 10px;    
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 5px 10px;
}

.negocio{
    margin: 5px;
    line-height: 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    width: 18rem;
}

.negocio:hover{
    box-shadow: 5px 5px 10px;
}

.negocio::first-letter{
    text-transform: uppercase;

}

.muestraRubro{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.desaparecerRubro{
    display: none;
}

#articulos{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#articulos{
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnSubirContainer{
    display: flex; 
    justify-content: center;
}

.btnSubir{
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.2rem;
}

.btnSubir a{
    text-decoration: none;
}

/* carrito */

.submenu{
    position:relative
}

.submenu #carrito{
    display: none;
}

.imgCarrito{
    cursor: pointer;
    list-style-type: none;
}

.row{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

#listaCarrito .row{
    margin-bottom: 20px;
}

.agregarCarrito{
    margin: 1rem;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;

}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.botonCarrito{
    margin: 1rem;
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;
}

.botonCompra{
    margin: 1rem;
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;
}


